base/
Building_a_physics_problem_solving_system/__pycache__/
clean_data/
dataset/
dataset_clean_pratice/
deploy/__pycache__/
deploy/package/__pycache__/
deploy/RAG/__pycache__/
deploy/read_file/__pycache__/
Embedding_data/__pycache__/
gen/__pycache__/
labels_points/__pycache__/
package/__pycache__/
read_file/__pycache__/
web_app/__pycache__/
RAG/__pycache__/
Deploy_version1/__pycache__/
ID_chatbot.drawio/







