pandas
numpy
pypdf
python-docx
flask
flask-cors
flask-restful
flask-sqlalchemy
python-dotenv
flask-login
flask-bcrypt
flask-wtf
flask-mail
django
mysqlclient
Flask-SQLAlchemy
Flask-Login
Flask-Bcrypt
Flask-WTF
Flask-Mail
faiss-cpu
sentence-transformers
groq
hugchat
torch
streamlit

